<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>1</integer>
		<key>ptm_ratio</key>
		<integer>1200</integer>
	</dict>
	<key>bodies</key>
	<dict>
		<key>GameMainScene_BG</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.5000,0.5000 }</string>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>friction</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.1</real>
					<key>filter_categoryBits</key>
					<integer>1</integer>
					<key>filter_groupIndex</key>
					<integer>0</integer>
					<key>filter_maskBits</key>
					<integer>65535</integer>
					<key>isSensor</key>
					<false/>
					<key>id</key>
					<string></string>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 520.000,78.000 }</string>
							<string>{ 520.000,-80.000 }</string>
							<string>{ 570.000,-480.000 }</string>
							<string>{ 570.000,78.000 }</string>
						</array>
						<array>
							<string>{ 520.000,-80.000 }</string>
							<string>{ 148.000,-334.000 }</string>
							<string>{ 570.000,-480.000 }</string>
						</array>
						<array>
							<string>{ 570.000,-480.000 }</string>
							<string>{ 148.000,-334.000 }</string>
							<string>{ -149.000,-333.000 }</string>
							<string>{ -570.000,-480.000 }</string>
						</array>
						<array>
							<string>{ -149.000,-333.000 }</string>
							<string>{ -520.000,-80.000 }</string>
							<string>{ -570.000,-480.000 }</string>
						</array>
						<array>
							<string>{ 570.000,80.000 }</string>
							<string>{ 570.000,658.000 }</string>
							<string>{ 148.000,332.000 }</string>
							<string>{ 520.000,80.000 }</string>
						</array>
						<array>
							<string>{ 570.000,658.000 }</string>
							<string>{ -570.000,658.000 }</string>
							<string>{ -149.000,332.000 }</string>
							<string>{ 148.000,332.000 }</string>
						</array>
						<array>
							<string>{ -149.000,332.000 }</string>
							<string>{ -570.000,658.000 }</string>
							<string>{ -520.000,80.000 }</string>
						</array>
						<array>
							<string>{ -570.000,658.000 }</string>
							<string>{ -570.000,-480.000 }</string>
							<string>{ -520.000,-80.000 }</string>
							<string>{ -520.000,80.000 }</string>
						</array>
					</array>
				</dict>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>friction</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.1</real>
					<key>filter_categoryBits</key>
					<integer>1</integer>
					<key>filter_groupIndex</key>
					<integer>0</integer>
					<key>filter_maskBits</key>
					<integer>65535</integer>
					<key>isSensor</key>
					<false/>
					<key>id</key>
					<string></string>
					<key>fixture_type</key>
					<string>CIRCLE</string>
					<key>circle</key>
					<dict>
						<key>radius</key>
						<real>88</real>
						<key>position</key>
						<string>{ 0.076,-0.076 }</string>
					</dict>
				</dict>
			</array>
		</dict>
		<key>GameMainScene_ball</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.5000,0.5000 }</string>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>1</real>
					<key>friction</key>
					<real>1</real>
					<key>restitution</key>
					<real>0.1</real>
					<key>filter_categoryBits</key>
					<integer>1</integer>
					<key>filter_groupIndex</key>
					<integer>0</integer>
					<key>filter_maskBits</key>
					<integer>65535</integer>
					<key>isSensor</key>
					<false/>
					<key>id</key>
					<string></string>
					<key>fixture_type</key>
					<string>CIRCLE</string>
					<key>circle</key>
					<dict>
						<key>radius</key>
						<real>52</real>
						<key>position</key>
						<string>{ 0.307,0.098 }</string>
					</dict>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
