<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GameTitleScene_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1366,2428}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1366,2428}}</string>
                <key>sourceSize</key>
                <string>{1366,2428}</string>
            </dict>
            <key>GameTitleScene_core.png</key>
            <dict>
                <key>frame</key>
                <string>{{2166,2},{317,317}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,317}}</string>
                <key>sourceSize</key>
                <string>{317,317}</string>
            </dict>
            <key>GameTitleScene_fin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1169,3801},{291,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,292}}</string>
                <key>sourceSize</key>
                <string>{291,292}</string>
            </dict>
            <key>GameTitleScene_howtoButton_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2432},{701,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{701,344}}</string>
                <key>sourceSize</key>
                <string>{701,344}</string>
            </dict>
            <key>GameTitleScene_howtoButton_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,3820},{551,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{551,159}}</string>
                <key>sourceSize</key>
                <string>{551,159}</string>
            </dict>
            <key>GameTitleScene_howtoButton_touched.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3135},{701,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{701,344}}</string>
                <key>sourceSize</key>
                <string>{701,344}</string>
            </dict>
            <key>GameTitleScene_playButton_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,2432},{642,351}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,351}}</string>
                <key>sourceSize</key>
                <string>{642,351}</string>
            </dict>
            <key>GameTitleScene_playButton_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3838},{612,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,177}}</string>
                <key>sourceSize</key>
                <string>{612,177}</string>
            </dict>
            <key>GameTitleScene_playButton_touched.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,3076},{642,351}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,351}}</string>
                <key>sourceSize</key>
                <string>{642,351}</string>
            </dict>
            <key>GameTitleScene_scoreButton_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2432},{692,345}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{692,345}}</string>
                <key>sourceSize</key>
                <string>{692,345}</string>
            </dict>
            <key>GameTitleScene_scoreButton_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,2432},{551,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{551,159}}</string>
                <key>sourceSize</key>
                <string>{551,159}</string>
            </dict>
            <key>GameTitleScene_scoreButton_touched.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,3126},{692,345}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{692,345}}</string>
                <key>sourceSize</key>
                <string>{692,345}</string>
            </dict>
            <key>GameTitleScene_title_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1759,3240},{382,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{382,353}}</string>
                <key>sourceSize</key>
                <string>{382,353}</string>
            </dict>
            <key>GameTitleScene_title_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,3406},{393,354}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{393,354}}</string>
                <key>sourceSize</key>
                <string>{393,354}</string>
            </dict>
            <key>GameTitleScene_title_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{1814,3624},{366,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,350}}</string>
                <key>sourceSize</key>
                <string>{366,350}</string>
            </dict>
            <key>GameTitleScene_title_i.png</key>
            <dict>
                <key>frame</key>
                <string>{{1462,3798},{286,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,350}}</string>
                <key>sourceSize</key>
                <string>{286,350}</string>
            </dict>
            <key>GameTitleScene_title_la.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,2985},{419,381}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{419,381}}</string>
                <key>sourceSize</key>
                <string>{419,381}</string>
            </dict>
            <key>GameTitleScene_title_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{1209,2432},{419,381}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{419,381}}</string>
                <key>sourceSize</key>
                <string>{419,381}</string>
            </dict>
            <key>GameTitleScene_title_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,3406},{390,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,353}}</string>
                <key>sourceSize</key>
                <string>{390,353}</string>
            </dict>
            <key>GameTitleScene_title_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1431,2853},{385,355}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{385,355}}</string>
                <key>sourceSize</key>
                <string>{385,355}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameTitleScene.png</string>
            <key>size</key>
            <string>{4096,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3138a8c6ab29f902234f5f9f375c9f2f:43f7042c5cf30e6df9d162e7b192ade4:7d72b15b61b170886791a30422e12fc2$</string>
            <key>textureFileName</key>
            <string>GameTitleScene.png</string>
        </dict>
    </dict>
</plist>
