<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>startButton_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,0},{892,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{892,250}}</string>
                <key>sourceSize</key>
                <string>{892,250}</string>
            </dict>
            <key>startButton_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,250},{892,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{892,250}}</string>
                <key>sourceSize</key>
                <string>{892,250}</string>
            </dict>
            <key>startButton_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,500},{892,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{892,250}}</string>
                <key>sourceSize</key>
                <string>{892,250}</string>
            </dict>
            <key>testBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1152,2048}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1152,2048}}</string>
                <key>sourceSize</key>
                <string>{1152,2048}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameTitleScene.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f28c270f082c07238739dec737de4381:4cfebf4458ce7a02652c2359b55cab7d:7d72b15b61b170886791a30422e12fc2$</string>
            <key>textureFileName</key>
            <string>GameTitleScene.png</string>
        </dict>
    </dict>
</plist>
