<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GameMainScene_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1152,2048}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1152,2048}}</string>
                <key>sourceSize</key>
                <string>{1152,2048}</string>
            </dict>
            <key>GameMainScene_ball1_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,2052},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>GameMainScene_ball1_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,2234},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>GameMainScene_ball1_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,2416},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>GameMainScene_ball2_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,2052},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>GameMainScene_ball2_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,2234},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>GameMainScene_ball2_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,2416},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>GameMainScene_ball3_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2912},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>GameMainScene_ball3_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,3094},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>GameMainScene_ball3_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,3276},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>GameMainScene_ball4_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,3458},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>GameMainScene_ball4_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,3640},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>GameMainScene_ball4_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,2912},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>GameMainScene_ball5_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,2598},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>GameMainScene_ball5_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,2052},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>GameMainScene_ball5_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,2234},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>GameMainScene_ball6_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,2416},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>GameMainScene_ball6_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,3094},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>GameMainScene_ball6_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,3276},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>GameMainScene_ball7_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,3458},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>GameMainScene_ball7_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,3640},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>GameMainScene_ball7_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,3822},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>GameMainScene_ball8_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,2780},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>GameMainScene_ball8_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,2598},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>GameMainScene_ball8_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1067,2052},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>GameMainScene_ball9_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{1067,2234},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>GameMainScene_ball9_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1067,2416},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>GameMainScene_ball9_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,2962},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>GameMainScene_dust_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,2052},{300,301}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,301}}</string>
                <key>sourceSize</key>
                <string>{300,301}</string>
            </dict>
            <key>GameMainScene_dust_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,2355},{300,301}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,301}}</string>
                <key>sourceSize</key>
                <string>{300,301}</string>
            </dict>
            <key>GameMainScene_go.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3856},{723,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{723,215}}</string>
                <key>sourceSize</key>
                <string>{723,215}</string>
            </dict>
            <key>GameMainScene_pause_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,2658},{242,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,252}}</string>
                <key>sourceSize</key>
                <string>{242,252}</string>
            </dict>
            <key>GameMainScene_pause_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,2658},{242,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,252}}</string>
                <key>sourceSize</key>
                <string>{242,252}</string>
            </dict>
            <key>GameMainScene_ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2052},{956,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{956,215}}</string>
                <key>sourceSize</key>
                <string>{956,215}</string>
            </dict>
            <key>GameMainScene_timeup.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3010},{844,514}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{844,514}}</string>
                <key>sourceSize</key>
                <string>{844,514}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameMainScene.png</string>
            <key>size</key>
            <string>{4096,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:263ba3ab1850181e53b19c94628aa674:9250867c4dd9dff28150e9fc2806a02d:0b94b986b793158c7d756500364012fa$</string>
            <key>textureFileName</key>
            <string>GameMainScene.png</string>
        </dict>
    </dict>
</plist>
