<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GameMainScene_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,569}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,569}}</string>
                <key>sourceSize</key>
                <string>{320,569}</string>
            </dict>
            <key>GameMainScene_ball1_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,776},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>GameMainScene_ball1_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,776},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>GameMainScene_ball1_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,645},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>GameMainScene_ball2_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,697},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>GameMainScene_ball2_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,645},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>GameMainScene_ball2_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,573},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>GameMainScene_ball3_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,749},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>GameMainScene_ball3_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,801},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>GameMainScene_ball3_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,697},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>GameMainScene_ball4_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,749},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>GameMainScene_ball4_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,625},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>GameMainScene_ball4_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,853},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>GameMainScene_ball5_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,905},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>GameMainScene_ball5_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,957},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>GameMainScene_ball5_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,801},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>GameMainScene_ball6_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,677},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>GameMainScene_ball6_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,729},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>GameMainScene_ball6_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,853},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>GameMainScene_ball7_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,905},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>GameMainScene_ball7_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,957},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>GameMainScene_ball7_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,781},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>GameMainScene_ball8_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,833},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>GameMainScene_ball8_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,885},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>GameMainScene_ball8_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,937},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>GameMainScene_ball9_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>GameMainScene_ball9_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,54},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>GameMainScene_ball9_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,106},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>GameMainScene_dust_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,573},{83,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,84}}</string>
                <key>sourceSize</key>
                <string>{83,84}</string>
            </dict>
            <key>GameMainScene_dust_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,659},{83,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,84}}</string>
                <key>sourceSize</key>
                <string>{83,84}</string>
            </dict>
            <key>GameMainScene_go.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,573},{201,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,60}}</string>
                <key>sourceSize</key>
                <string>{201,60}</string>
            </dict>
            <key>GameMainScene_pause_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,745},{67,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,70}}</string>
                <key>sourceSize</key>
                <string>{67,70}</string>
            </dict>
            <key>GameMainScene_pause_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,573},{67,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,70}}</string>
                <key>sourceSize</key>
                <string>{67,70}</string>
            </dict>
            <key>GameMainScene_ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,573},{265,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,60}}</string>
                <key>sourceSize</key>
                <string>{265,60}</string>
            </dict>
            <key>GameMainScene_timeup.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,840},{234,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,143}}</string>
                <key>sourceSize</key>
                <string>{234,143}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameMainScene.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:263ba3ab1850181e53b19c94628aa674:9250867c4dd9dff28150e9fc2806a02d:0b94b986b793158c7d756500364012fa$</string>
            <key>textureFileName</key>
            <string>GameMainScene.png</string>
        </dict>
    </dict>
</plist>
