<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GameTitleScene_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,1138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1138}}</string>
                <key>sourceSize</key>
                <string>{640,1138}</string>
            </dict>
            <key>GameTitleScene_core.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,1588},{149,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,149}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>GameTitleScene_fin.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,1588},{136,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,137}}</string>
                <key>sourceSize</key>
                <string>{136,137}</string>
            </dict>
            <key>GameTitleScene_howtoButton_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1142},{328,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,161}}</string>
                <key>sourceSize</key>
                <string>{328,161}</string>
            </dict>
            <key>GameTitleScene_howtoButton_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,1748},{258,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,74}}</string>
                <key>sourceSize</key>
                <string>{258,74}</string>
            </dict>
            <key>GameTitleScene_howtoButton_touched.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1472},{328,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,161}}</string>
                <key>sourceSize</key>
                <string>{328,161}</string>
            </dict>
            <key>GameTitleScene_playButton_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,1142},{301,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,164}}</string>
                <key>sourceSize</key>
                <string>{301,164}</string>
            </dict>
            <key>GameTitleScene_playButton_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,1748},{287,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,83}}</string>
                <key>sourceSize</key>
                <string>{287,83}</string>
            </dict>
            <key>GameTitleScene_playButton_touched.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,1445},{301,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,164}}</string>
                <key>sourceSize</key>
                <string>{301,164}</string>
            </dict>
            <key>GameTitleScene_scoreButton_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,1142},{324,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,162}}</string>
                <key>sourceSize</key>
                <string>{324,162}</string>
            </dict>
            <key>GameTitleScene_scoreButton_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,1142},{258,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,74}}</string>
                <key>sourceSize</key>
                <string>{258,74}</string>
            </dict>
            <key>GameTitleScene_scoreButton_touched.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,1468},{324,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,162}}</string>
                <key>sourceSize</key>
                <string>{324,162}</string>
            </dict>
            <key>GameTitleScene_title_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,1327},{179,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,165}}</string>
                <key>sourceSize</key>
                <string>{179,165}</string>
            </dict>
            <key>GameTitleScene_title_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,1402},{184,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,166}}</string>
                <key>sourceSize</key>
                <string>{184,166}</string>
            </dict>
            <key>GameTitleScene_title_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,1727},{171,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,164}}</string>
                <key>sourceSize</key>
                <string>{171,164}</string>
            </dict>
            <key>GameTitleScene_title_i.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,1900},{134,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,164}}</string>
                <key>sourceSize</key>
                <string>{134,164}</string>
            </dict>
            <key>GameTitleScene_title_la.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1802},{196,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,179}}</string>
                <key>sourceSize</key>
                <string>{196,179}</string>
            </dict>
            <key>GameTitleScene_title_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,1794},{196,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,179}}</string>
                <key>sourceSize</key>
                <string>{196,179}</string>
            </dict>
            <key>GameTitleScene_title_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,1142},{183,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,165}}</string>
                <key>sourceSize</key>
                <string>{183,165}</string>
            </dict>
            <key>GameTitleScene_title_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,1739},{180,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,166}}</string>
                <key>sourceSize</key>
                <string>{180,166}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameTitleScene.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3138a8c6ab29f902234f5f9f375c9f2f:43f7042c5cf30e6df9d162e7b192ade4:7d72b15b61b170886791a30422e12fc2$</string>
            <key>textureFileName</key>
            <string>GameTitleScene.png</string>
        </dict>
    </dict>
</plist>
