<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Common_center0.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,80},{67,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,61}}</string>
                <key>sourceSize</key>
                <string>{67,61}</string>
            </dict>
            <key>Common_center1.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>Common_core.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,2},{151,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,151}}</string>
                <key>sourceSize</key>
                <string>{151,151}</string>
            </dict>
            <key>Common_fin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{277,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,269}}</string>
                <key>sourceSize</key>
                <string>{277,269}</string>
            </dict>
            <key>Common_finMark.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,143},{19,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,40}}</string>
                <key>sourceSize</key>
                <string>{19,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Common.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:90eedffabef1b27eeba7c12f01bcb913:56b43261b7f16e9000fb831f09474f09:850199491236813674e0e6bea887abb5$</string>
            <key>textureFileName</key>
            <string>Common.png</string>
        </dict>
    </dict>
</plist>
