<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GameTitleScene_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,569}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,569}}</string>
                <key>sourceSize</key>
                <string>{320,569}</string>
            </dict>
            <key>GameTitleScene_core.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,798},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>GameTitleScene_fin.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,798},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>GameTitleScene_howtoButton_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,573},{164,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,81}}</string>
                <key>sourceSize</key>
                <string>{164,81}</string>
            </dict>
            <key>GameTitleScene_howtoButton_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,877},{129,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,37}}</string>
                <key>sourceSize</key>
                <string>{129,37}</string>
            </dict>
            <key>GameTitleScene_howtoButton_touched.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,739},{164,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,81}}</string>
                <key>sourceSize</key>
                <string>{164,81}</string>
            </dict>
            <key>GameTitleScene_playButton_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,573},{150,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,82}}</string>
                <key>sourceSize</key>
                <string>{150,82}</string>
            </dict>
            <key>GameTitleScene_playButton_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,877},{143,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,41}}</string>
                <key>sourceSize</key>
                <string>{143,41}</string>
            </dict>
            <key>GameTitleScene_playButton_touched.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,725},{150,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,82}}</string>
                <key>sourceSize</key>
                <string>{150,82}</string>
            </dict>
            <key>GameTitleScene_scoreButton_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,573},{162,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,81}}</string>
                <key>sourceSize</key>
                <string>{162,81}</string>
            </dict>
            <key>GameTitleScene_scoreButton_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,573},{129,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,37}}</string>
                <key>sourceSize</key>
                <string>{129,37}</string>
            </dict>
            <key>GameTitleScene_scoreButton_touched.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,737},{162,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,81}}</string>
                <key>sourceSize</key>
                <string>{162,81}</string>
            </dict>
            <key>GameTitleScene_title_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,666},{89,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,83}}</string>
                <key>sourceSize</key>
                <string>{89,83}</string>
            </dict>
            <key>GameTitleScene_title_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,704},{92,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,83}}</string>
                <key>sourceSize</key>
                <string>{92,83}</string>
            </dict>
            <key>GameTitleScene_title_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,868},{86,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,82}}</string>
                <key>sourceSize</key>
                <string>{86,82}</string>
            </dict>
            <key>GameTitleScene_title_i.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,757},{67,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,82}}</string>
                <key>sourceSize</key>
                <string>{67,82}</string>
            </dict>
            <key>GameTitleScene_title_la.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,905},{98,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,89}}</string>
                <key>sourceSize</key>
                <string>{98,89}</string>
            </dict>
            <key>GameTitleScene_title_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,901},{98,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,89}}</string>
                <key>sourceSize</key>
                <string>{98,89}</string>
            </dict>
            <key>GameTitleScene_title_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,573},{91,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,83}}</string>
                <key>sourceSize</key>
                <string>{91,83}</string>
            </dict>
            <key>GameTitleScene_title_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,874},{90,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,83}}</string>
                <key>sourceSize</key>
                <string>{90,83}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameTitleScene.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3138a8c6ab29f902234f5f9f375c9f2f:43f7042c5cf30e6df9d162e7b192ade4:7d72b15b61b170886791a30422e12fc2$</string>
            <key>textureFileName</key>
            <string>GameTitleScene.png</string>
        </dict>
    </dict>
</plist>
